#avatar {color: white;
    display: block;
    border-radius: 50%;
    width: 120px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#graph {color: white;
    display: block;
    width: 320px;
    margin-left: 10px;
}

#chart {color: white;
    display: block;
    width: 320px;
    margin-left: 10px;
}

.profile {
    color: white;
    display: flex;
}

.white {
    color: white;
}