:root {
    --background-color: white;
    --primary-color: #E28413;
    --primary-color-light: #E3B071;
    --secondary-color: #282854;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    touch-action: none;
    font-family: Gotham Rounded, sans-serif;
}

body {
    margin: 0;
}